<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kogdaaa.Properties.Settings.kogda_eto_konchitsaConnectionString"
            connectionString="Data Source=WIN-FQ5M8U40EBE;Initial Catalog=&quot;kogda eto konchitsa&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>